/* ------------------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

/* ------------------------------ */



/* ------------------------------Hover.css */
.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
  background-color: #3d2b3d;
  color: #db5461;
  height: 120px;
}



header {
  margin: 0;
}

.img-profile {
  background-image: url("/assets/images/profile.png");
  background-color: #fffcf7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  width: 100%;
  height: 480px;
}

.img-profile-small {
  background-image: url("/assets/images/profile.png");
  background-color: #fffcf7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  width: 100%;
  height: 240px;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/profile.png");
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.head-ab-ex-co {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: "archivo", sans-serif;
  font-weight: 300;
  font-size: 42px;
  background-color: #247ba0;
  color: #fffcf7;
  text-align: left;
}

.body-ab-ex-co {
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: "archivo", sans-serif;
  font-weight: 100;
  font-size: 24px;
  background-color: #247ba0;
  color: #fffcf7;
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}


footer {
  padding: 20px;
  align-items: center;
  background-color: #3d2b3d;
  font-family: "archivo", sans-serif;
  color: #fffcf7;
}

/* ----------------------------------------Work History */

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  background-color: #247ba0;
  color: #fffcf7;
  border-left: 1px solid;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-family: "archivo", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: '';
  background: #fffcf7;
}

.history-items {
  margin-bottom: 0;
}


/* ------------------------------CSS credit https://codepen.io/beforesemicolon */

html,
body {
  width: 100%;
  height: 100%;
  background: #fff3f7;
  margin: 0;
  font-family: "archivo", sans-serif;
  text-align: center;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.wrapper {
  width: calc(100%);
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d2b3d;
  font-family: "archivo", sans-serif;
  color: #fffcf7;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.close-mobile-menu {
  display: none;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  color: #db5461;
  background: none;
  border: none;
  font-size: 2em;
  z-index: 1000;
}

nav {
  position: relative;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
@media screen and (max-width: 680px) {
  nav ul {
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    flex-direction: column;
    justify-content: center;
    background: #3d2b3d;
    border-radius: 3px;
    z-index: 1;
    padding: 5px 0;
    display: none;
    box-shadow: 0 0 10px #222;
  }
}
@media screen and (max-width: 485px) {
  nav ul {
    width: 100vw;
    height: 100vh;
    top: -25px;
    right: -25px;
    align-items: center;
    background: rgba(34, 34, 34, 0.8);
  }
}
nav li {
  margin-left: 10px;
  color: #fffcf7;
}
nav li a {
  color: #fffcf7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 10px;
  opacity: 0.7;
  border-bottom: 2px solid transparent;
  transition: opacity 0.3s ease, border-bottom 0.3s ease;
}
nav li a:hover {
  opacity: 0.9;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
nav li.active a {
  border-bottom: 2px solid #fffcf7;
}

@media screen and (max-width: 680px) {
  nav li {
    margin: 0;
  }
  nav li a {
    display: block;
    text-align: center;
    min-width: 125px;
  }
  nav li.active a {
    background: #3d2b3d;
    border-width: 1px;
  }
}
@media screen and (max-width: 485px) {
  nav li {
    margin: 2vh 0;
  }
  nav li a {
    font-size: 5vw;
    width: 50vw;
  }
  nav li.active a {
    background: none;
  }
}
@media screen and (max-width: 680px) {
  nav {
    width: 40px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
  }
  nav::after, nav::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 50%;
    background: #fffcf7;
    transition: transform 0.2s ease, top 0.2s ease;
    transform-origin: center center;
    transform: rotate(0deg) translateY(-50%);
  }
  nav::before {
    top: 30%;
  }
  nav::after {
    top: 70%;
  }
  nav:focus::before, nav:focus-within::before {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
  }
  nav:focus::after, nav:focus-within::after {
    top: 50%;
    transform: rotate(-30deg) translateY(-50%);
  }
  nav:focus ul, nav:focus-within ul {
    display: flex;
  }
}
@media screen and (max-width: 485px) {
  nav:focus + .close-mobile-menu {
    display: inline-block;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 860px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 660px) {
  main {
    grid-template-columns: 1fr;
  }
}
main .banner,
main .post,
main footer {
  background: #fffcf7;
  border-radius: 5px;
  opacity: 0.4;
}
main .banner {
  grid-column: span 4;
  padding-top: 65%;
  background: #3d2b3d;
}
@media screen and (max-width: 1024px) {
  main .banner {
    grid-column: span 3;
  }
}
@media screen and (max-width: 860px) {
  main .banner {
    grid-column: span 2;
  }
}
@media screen and (max-width: 660px) {
  main .banner {
    grid-column: 1;
  }
}
main .post {
  width: 100%;
  height: 250px;
}
main footer {
  height: 100px;
  background: #3d2b3d;
  border-radius: 5px;
  margin-top: 20px;
}

/* ------------------------------ */